specs.md
data.md
setup.md
*.md
!README.md

# Python
__pycache__/
*.pyc
*.pyo
.python-version

# IDE
.idea/

# Env
.env
*.env

.venv
run/

datasets/agent-eval/ppp.json
datasets/agent-eval/results_deepeval.json
datasets/agent-eval/results.json
datasets/agent-eval/dataset.json


mlruns/
mlflow.db
.DS_Store

.deepeval/

src/ui/node_modules/
src/ui/.next/