specs.md
data.md
setup.md
*.md
!README.md

# Python
__pycache__/
*.pyc
*.pyo
.python-version

# IDE
.idea/

# Env
.env
*.env

.venv
run/

datasets/eval/ppp.json
datasets/eval/results_deepeval.json
datasets/eval/results.json
datasets/eval/dataset.json